h1 {
    	font-size: xx-large;
	margin-top: 32px;
	font-weight: bold;
}

body {
	font-family: "Helvetica","Arial", sans-serif;	
}

.logo {
	background: -webkit-image-set( url(images/logo.png) 1x, 
						       url(images/logo_2x.png) 2x,
						       url(images/logo_3x.png) 3x);

	background-image: image-set( url(images/logo.png) 1x,
		     			             url(images/logo_2x.png) 2x,
		     			             url(images/logo_3x.png) 3x);
	height: 100px;
	width: 100px;
	background-size: 100px 100px;	
	background-repeat: no-repeat;
	display: block;
}

.content {
	padding-top: 60px;
	max-width: 400px;
	margin: auto;
}

h1 strong {
	font-size: 75%;
	opacity: 0.75;
}

#message {
	padding-top: 60px;
}

footer {
	padding-top: 60px;
}

footer p {
	font-size: small;
	color: darkgray;
}

footer a {
	color: inherit;
}

/* Menu */

ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    position: fixed;
        top: 0;
    width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
