body {
  background-color: rgb(29, 29, 31);
  color: rgb(245, 245, 247);
}

a {
  color: rgb(245, 245, 247);
}

.callToAction {
    font-size: xx-large;
    text-decoration: none;
}

.ad {
    width: 960px;
    height: 640px;
    padding-top: 16px;
}

@media screen and (max-width: 614px) {
  .ad {
    width: auto;
    height: auto;
  }
}