h1 {
    font-size: xx-large;
	margin-top: 32px;
	font-weight: bold;
}

header {
    margin: auto;
    padding: 2em;
}

#header {
  padding-bottom: 32px;
}

body {
	font-family: "Helvetica","Arial", sans-serif;
	margin: 0;	
}

.logo {
	background: -webkit-image-set( url(/images/logo.png) 1x, 
                                   url(/images/logo_2x.png) 2x,
						           url(/images/logo_3x.png) 3x);

	background-image: image-set( url(/images/logo.png) 1x,
		     			         url(/images/logo_2x.png) 2x,
		     			         url(/images/logo_3x.png) 3x);
	height: 100px;
	width: 100px;
	background-size: 100px 100px;	
	background-repeat: no-repeat;
	display: block;
}

h1 strong {
	font-size: 75%;
	opacity: 0.75;
}

p {
    line-height: 1.2rem;
}

ul, li {
    margin: .5rem;
}

.appName {
    font-size: xx-large;
    margin-bottom: 8px;
}

.hero {
    font-size: x-large;
    margin: 0;
    padding-bottom: 0.5em;
}

.hero-img {
    border-radius: 8px;
    width: 300px;
}

/* Menu 2.0 https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */

.menu {
  overflow: hidden;
  background-color: #333;
}

.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

.menu a.active {
  background-color: #04AA6D;
  color: white;
}

.menu .icon {
  display: none;
}

@media screen and (max-width: 614px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 614px) {
  .menu.responsive {position: relative;}
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.icon {
    display: table-cell;
}

.icon img {
    width: 24px;
    height: 12px;
    position: relative;
    top: 1px;
}

/* Menu 2.0 end */

.post-date {
      color: grey;
}

/* Apps Grid */

.content {
    max-width: 742px;
    margin: 1em auto;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 0;
}
 
.wrapper {
    max-width: 742px;
}

.col1, .col2 {
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

.app1, .app2, .app3 {
    margin-bottom: 3em;
}

/* Desktop layout only */
@media screen and (min-width: 614px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 5%;
    }
}

.message {
    font-style: italic;
    width: 300px;
}

.screenshot {
    max-width: 100%; 
    height: auto; 
    padding-bottom: 1em;
}

/* Footer */

footer {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 2em;
}

footer p {
	font-size: small;
	color: darkgray;
}

footer a {
	color: inherit;
}


/* Caffeine++ */

#caffeineSlogan {
    padding-bottom: 1em;
}

.badgesContainer > * {
    padding-bottom: 1em;
}

code { /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code */
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
