h1 {
    font-size: xx-large;
	margin-top: 32px;
	font-weight: bold;
}

#header {
  padding-bottom: 64px;
}

body {
	font-family: "Helvetica","Arial", sans-serif;
	margin: 0;	
}

.logo {
	background: -webkit-image-set( url(/images/logo.png) 1x, 
						       url(/images/logo_2x.png) 2x,
						       url(/images/logo_3x.png) 3x);

	background-image: image-set( url(/images/logo.png) 1x,
		     			             url(/images/logo_2x.png) 2x,
		     			             url(/images/logo_3x.png) 3x);
	height: 100px;
	width: 100px;
	background-size: 100px 100px;	
	background-repeat: no-repeat;
	display: block;
}

.content {
	padding: 64px;
}

h1 strong {
	font-size: 75%;
	opacity: 0.75;
}

.appName {
    font-size: xx-large;
    margin-bottom: 8px;
}

.hero {
    font-size: x-large;
    margin: 0;
}

#message {
/* 	padding-top: 60px; */
}

footer {
	padding-top: 60px;
}

footer p {
	font-size: small;
	color: darkgray;
}

footer a {
	color: inherit;
}

.hero-img {
    border-radius: 8px;
    width: 300px;
}

/* Menu */

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: max-content;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menu li a:hover {
  background-color: #111;
}

.post-date {
      color: grey;
}

/* Table */

td {
  padding-bottom: 64px;
}